:root {
    --primary: rgb(246, 246, 246);
    --secondary: #a2d594;
    --light: #242424;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  ::selection {
    background-color: var(--primary);
    color: var(--light);
  }
  
  body {
    color: var(--primary);
    background-color: #161616;
   
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
     
  }
  
  input {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem;
    margin: 0 0.75rem;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    text-align: center;
  }

    .menu h2 {
      color: var(--primary);
    }

  .menu {
    padding: 2rem 2.25rem 1rem;
    margin: 0 auto;
    max-width: 50rem;
    background-color: var(--light);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-top:100px;
    margin-bottom: 100px;
    border-radius: 40px;
  
  }
  
  @media (min-width: 660px) {
    .menu {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: var(--primary);
  
  }
  
  .logo {
    width: 280px;
    margin: 0 auto 2rem;
    display: block;
    grid-column: 1 / 3;
  }
  
  @media (min-width: 660px) {
    .logo {
      margin-bottom: 0;
    }
  }
  
  .mains {
    grid-column: 1 / 2;
  }
  
  .mains-name {
    margin: 0;
    flex-grow: 1;
    color : var(--primary);
   font-size: 24px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .mains-description {
    flex: 1 1 100%;
    margin: 0.75rem 0 0;
    color: var(--secondary);
  }
  
  .aside {
    grid-column: 2 / 3;
  }
  
  .extras {
    color: var(--primary);
  }

  
  .extras + .extras {
    margin-top: 1.5rem;
  }
  
  @media (min-width: 660px) {
    .extras + .extras {
      margin-top: 2.5rem;
    }
  }
  
  .extras .menu-item {
    margin-bottom: 0.75rem;
  }

  
  .extras-heading {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid var(--secondary);
    
  }
  
  .extras-name {
    flex-grow: 1;
  }
  
  .total {
    grid-column: 1 / 3;
    margin-top: 2.5rem;
    padding: 0.75rem 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    color: var(--secondary);
    background-color: var(--light);
    border-top: 1px solid var(--secondary);
    box-shadow: 0 -0.5rem 0.75rem 0.5rem var(--light);
  }
  
  @media (min-width: 660px) {
    .total {
      margin-top: 0;
    }
  }
  
  .total-title {
    margin: 0;
  }
  
  .total-price {
    font-size: 1.5rem;
  }
  
  .changer {
    display: inline-block;
    padding: 5px 20px;
    background-color: #669e60;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s, box-shadow 0.1s;
    outline: none;
  }
  
  .changer:hover {
    background-color: rgb(168, 219, 142);
    transform: scale(1.05); /* Efectul de scalare la interacțiunea cu cursorul */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Umbră la interacțiune cu cursorul */
  }